<ion-header>
  <ion-toolbar>
    <ion-title>Calcular Días Entre Fechas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <ion-card >
    <ion-label>Fecha de inicio</ion-label>
    <ion-datetime color="green" display-format="DD/MM/YYYY" [(ngModel)]="fechaInicio"></ion-datetime>
  </ion-card>
  
  <ion-card>
    <ion-label>Fecha de fin</ion-label>
    <ion-datetime color="green" display-format="DD/MM/YYYY" [(ngModel)]="fechaFin"></ion-datetime>
  </ion-card>
  
  <ion-button expand="full" (click)="calcularDias()" color="green">Calcular Días</ion-button>
  
  <div *ngIf="diferenciaDias !== null">
    <ion-text color="primary">
      <h2>Días de diferencia: {{ diferenciaDias }}</h2>
    </ion-text>
  </div>
</ion-content>
