<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item style="margin-left: 30%; margin-right: 30%; padding: 8px;">
    <ion-input type="number" placeholder="a"></ion-input>x² + <ion-input type="number" placeholder="b"></ion-input>x + <ion-input type="number" placeholder="c"></ion-input> = 0
  </ion-item>
  <ion-item>
    <ion-button shape="round" style="margin: 0 auto; font-weight: 700; font-size: 1em;">Calcular raices</ion-button>
  </ion-item>
  

</ion-content>
